* {
  box-sizing: border-box;
}

strong {
  font-weight: 700;
}

/* ==== SIMPLE FOOTER ==== */

footer {
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/A_black_image.jpg/640px-A_black_image.jpg')
    repeat center;
  display: table;
  width: 100vw;
  height: 8rem;
  text-align: center;
  padding: 1rem;
  font-family: 'Arial', sans-serif;
  font-size: 0.875rem;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
}

footer small {
  color: #ccc;
  letter-spacing: 0.025rem;
  margin-bottom: 1.5rem;
  display: block;
}

.footer-nav a {
  color: #c74f78;
  text-decoration: none;
  margin: 0 0.5rem;
  display: inline-block;
}

.footer-nav a:hover {
  color: #f26896;
  transition: color 0.15s ease-in-out;
}

/* .footer-container {
  background: url('https://images.unsplash.com/photo-1550684376-efcbd6e3f031?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Nnx8fGVufDB8fHx8&w=1000&q=80')
  repeat center;
} */
